
.animation{
    position: relative;
    animation: slide 3s linear;
    margin-top: 40px;
    font-family: fantasy;
    font-size: 20px;
    left: 48%;
}

.bat{
    position: relative;
    max-width: 20%;
    max-height: 20%;
    display: inline-block;
    left: 42%;
    opacity: 0;
}

.active{
    position: relative;
    animation: appear 3s linear;
    opacity: 1;
}

@keyframes appear{
    0%      {opacity: 0;}
    50%     {opacity: .5;}
    100%    {opacity: 1;}
}

@keyframes slide{
    0%      {left: -300px;}
    100%    {left: 48%;}
}

.footer{
    background: #343a40;
    color: rgba(255,255,255,.5);
    height: 100px;
}
.footer-section .social-media{
    margin-top: 50px;
}
.container{
    margin-bottom: 30%;
}

@media  (max-width: 768px) {
    .mr-3{
        visibility: hidden;
    }
}